<app-shared-header-section>
	Часть 5. {{menuItemCollection.Part5}}
</app-shared-header-section>

<!--Примеры пайпов-->
<section id="part5" class="py-5">
	<app-part5-pipes-details></app-part5-pipes-details>
</section>

<!--Создание своих пайпов-->
<section class="bg-opacity-25 bg-secondary py-5">
	<app-part5-pipes-create></app-part5-pipes-create>
</section>

<!--Фильтрация постов-->
<section class="py-5">
	<app-part5-pipes-filter-posts></app-part5-pipes-filter-posts>
</section>

<!--async-->
<section class="bg-opacity-25 bg-secondary py-5">
	<app-part5-pipe-async></app-part5-pipe-async>
</section>
