<div class="container">
	<app-shared-card
		cardBodyClass="d-flex flex-column justify-content-center"
	>
		<ng-template #header>
			Angular HttpClient
		</ng-template>

		<ng-template #body>
			<input
				[(ngModel)]="todoTitle"
				aria-label="Название"
				class="form-control"
				placeholder="Название"
				type="text"
			>

			<div class="d-flex mt-3">
				<button
					(click)="addTodo()"
					class="btn btn-dark"
				>
					Добавить
				</button>
				<button
					(click)="fetchTodoCollection()"
					class="btn btn-secondary mx-2"
				>
					Загрузить
				</button>
			</div>

			<p
				*ngIf="errorMsg; else todoCollectionBlock"
				class="invalid-feedback d-block mt-3 mb-0"
			>
				{{errorMsg}}
			</p>

			<ng-template #todoCollectionBlock>

				<ng-container *ngIf="!loading; else loader">
					<ng-container *ngIf="todoCollection.length; else noTodo">
						<div
							*ngFor="let httpItem of todoCollection"
							class="
								border rounded-2
								d-flex flex-md-row flex-column
								align-items-center justify-content-between
								p-3 mt-4
							"
						>
							<h3
								[class.text-decoration-line-through]="httpItem.completed"
								class="h4 mb-0"
							>
								{{httpItem.title | titlecase}}
							</h3>
							<div class="d-flex">
								<button
									(click)="removeHttp(httpItem.id)"
									class="btn btn-danger"
								>
									Удалить
								</button>
								<button
									(click)="completeTodo(httpItem.id)"
									[disabled]="httpItem.completed"
									class="btn btn-dark mx-2"
								>
									Завершить
								</button> <!--TODO не работает на добавленных постах-->
							</div>
						</div>
					</ng-container>
				</ng-container>

				<ng-template #loader>
					<div class="spinner-border text-secondary mx-auto" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</ng-template>

				<ng-template #noTodo>
					<img alt="Нет контента" class="mt-3" src="https://muizre.ru/_dr/2/20616899.jpg">
				</ng-template>
			</ng-template>
		</ng-template>
	</app-shared-card>
</div>
