<section class="bg-opacity-25 bg-secondary py-5">
	<div class="container">
		<app-shared-card
			cardBodyClass="d-flex flex-column justify-content-center"
			cardTitleClass="flex-grow-1 mb-0"
		>
			<ng-template #header>
				{{post2.title}}
			</ng-template>

			<ng-template #icon>
				<button [routerLink]="['/part9']" class="btn btn-dark mb-auto">
					Назад
				</button>
			</ng-template>

			<ng-template #body>
				{{post2.text}}
			</ng-template>

			<ng-template #footer>
				<button
					(click)="loadLastPost()"
					class="btn btn-secondary"
				>
					Загрузить последний пост
				</button>
			</ng-template>
		</app-shared-card>
	</div>
</section>
