<section class="py-5">
	<div class="container">
		<app-shared-card
			cardBodyClass="d-flex flex-column justify-content-center"
		>
			<ng-template #header>
				Войдите, чтобы просматривать посты
			</ng-template>
			<ng-template #body>
				<div class="d-flex mb-3">
					<button
						(click)="auth.login()"
						class="btn btn-lg btn-dark"
					>
						Войти
					</button>
					<button
						(click)="auth.logout()"
						class="btn btn-lg btn-secondary mx-2"
					>
						Выйти
					</button>
				</div>
				<a class="link" routerLink="/">Вернуться на главную</a>
			</ng-template>
		</app-shared-card>
	</div>
</section>
