<div class="mb-3">
	<label class="form-label" for="postTitle">
		Заголовок поста
	</label>
	<input
		#titleInput
		[(ngModel)]="addedTitle"
		aria-label="Введите текст"
		class="form-control"
		id="postTitle"
		placeholder="Введите текст"
		type="text"
	>
</div>

<div class="mb-3">
	<label class="form-label" for="postText">
		Текст поста
	</label>
	<textarea
		[(ngModel)]="addedText"
		class="form-control"
		id="postText"
	></textarea>
</div>

<button
	(click)="addPost()"
	class="btn btn-dark m-2 my-0"
>
	Добавить пост
</button>

<button
	(click)="focusTitle()"
	class="btn btn-secondary"
>
	Фокус для поля заголовка
</button>
