<div class="container">
	<app-shared-card
		cardBodyClass="d-flex flex-column justify-content-center"
	>
		<ng-template #header>
			Выбранный нами инновационный путь не позволил союзу развалиться
		</ng-template>
		<ng-template #body>
			<p
				appColor
				class="mb-2"
			>
				Картельные сговоры не допускают ситуации, при которой явные признаки победы
				институционализации подвергнуты целой серии независимых исследований.
			</p>
			<router-outlet></router-outlet>
		</ng-template>
	</app-shared-card>
</div>
