<div
	class="card shadow-sm"
	[ngClass]="cardClass"
>
	<div
		class="card-header"
		[ngClass]="{'d-flex flex-sm-row flex-column': cardIcon}"
		*ngIf="cardHeader"
	>
		<h2
			class="h2"
			[ngClass]="cardTitleClass"
		>
			<ng-container
				[ngTemplateOutlet]="cardHeader"
				[ngTemplateOutletContext]="{$implicit: templateContext}"
			></ng-container>
		</h2>

		<ng-container
			*ngIf="cardIcon"
			[ngTemplateOutlet]="cardIcon"
			[ngTemplateOutletContext]="{$implicit: templateContext}"
		>
		</ng-container>
	</div>

	<div
		class="card-body"
		*ngIf="cardBody"
		[ngClass]="cardBodyClass"
	>
		<ng-container
			[ngTemplateOutlet]="cardBody"
			[ngTemplateOutletContext]="{$implicit: templateContext}"
		></ng-container>
	</div>
	<div
		class="card-footer"
		*ngIf="cardFooter"
	>
		<ng-container
			[ngTemplateOutlet]="cardFooter"
			[ngTemplateOutletContext]="{$implicit: templateContext}"
		></ng-container>
	</div>
</div>
