<div
	[ngClass]="cardClass"
	class="card shadow-sm"
>
	<div
		*ngIf="cardHeader"
		[ngClass]="{'d-flex flex-sm-row flex-column': cardIcon}"
		class="card-header"
	>
		<h2
			[ngClass]="cardTitleClass"
			class="h2"
		>
			<ng-container
				[ngTemplateOutletContext]="{$implicit: templateContext}"
				[ngTemplateOutlet]="cardHeader"
			></ng-container>
		</h2>

		<ng-container
			*ngIf="cardIcon"
			[ngTemplateOutletContext]="{$implicit: templateContext}"
			[ngTemplateOutlet]="cardIcon"
		>
		</ng-container>
	</div>

	<div
		*ngIf="cardBody"
		[ngClass]="cardBodyClass"
		class="card-body"
	>
		<ng-container
			[ngTemplateOutletContext]="{$implicit: templateContext}"
			[ngTemplateOutlet]="cardBody"
		></ng-container>
	</div>
	<div
		*ngIf="cardFooter"
		class="card-footer"
	>
		<ng-container
			[ngTemplateOutletContext]="{$implicit: templateContext}"
			[ngTemplateOutlet]="cardFooter"
		></ng-container>
	</div>
</div>
