<section class="py-5">
	<div class="container">
		<app-shared-card
			cardBodyClass="d-flex flex-column justify-content-center"
		>
			<ng-template #header>
				{{'Тяжёлое машиностроение — это вам не глас грядущего поколения' | pageName}}
			</ng-template>
			<ng-template #body>
				<button (click)="read = true" class="btn btn-outline-info align-self-start mb-2">
					Отметить как прочитанное
				</button>
				<p
					[ngClass]="{
						'text-info': !!read
					}"
					class="mb-2"
				>
					Современные технологии достигли такого уровня, что высокое качество позиционных
					исследований является качественно новой ступенью как самодостаточных,
					так и внешне зависимых концептуальных решений.
				</p>

				<div class="btn-group flex-shrink-0 m-2 mx-0">
					<a [routerLink]="['/part10b', 'nested2']" class="btn btn-dark">
						Показать полностью
					</a>
					<a [routerLink]="['/part10b']" class="btn btn-secondary">
						Скрыть подробности
					</a>
				</div>

				<router-outlet></router-outlet>
			</ng-template>
		</app-shared-card>
	</div>
</section>
