<header class="d-flex justify-content-between bg-white shadow-lg p-4 position-sticky top-0 z-20">
	<a
		[routerLinkActiveOptions]="{exact: true}"
		[routerLinkActive]="'btn-dark text-light'"
		[routerLink]="['/']"
		class="h5 fw-normal btn-lg btn btn-outline-dark mb-0"
	>
		В начало
	</a>

	<button (click)="menu.openMenu()" class="btn btn-lg btn-outline-dark">
		<i class="bi bi-list"></i>
	</button>
</header>

<app-shared-menu
	#menu
	class="d-flex flex-column h-100 justify-content-between"
></app-shared-menu>


<!--<div *ngIf="isMenuOpen" [@menu] class="darker"></div>-->

<router-outlet></router-outlet>
