<app-shared-header-section>
	Часть 4. {{menuItemCollection.C_Part4}}
</app-shared-header-section>

<section class="py-5" id="part4">
	<div class="container d-grid gap-3">
		<div
			[dStyles]="{
				border: '1px solid #198754',
				borderRadius: '8px',
				background: '#0dcaf03f'
			}"
			appPart4Style="#198754"
			class="card shadow-sm p-4"
			fontWeight="bold"
		>
			<app-part4-directives-content></app-part4-directives-content>
		</div>
		<div
			[dStyles]="{
				border: '1px solid #dc3545',
				borderRadius: '8px',
				background: '#0dcaf03f'
			}"
			appPart4Style="#dc3545"
			class="card shadow-sm p-4"
			fontWeight="bold"
		>
			<app-part4-directives-content></app-part4-directives-content>
		</div>
	</div>
</section>

<!--Создание структурной директивы-->
<section class="bg-opacity-25 bg-secondary py-5">
	<app-part4-directive-structure></app-part4-directive-structure>
</section>
