<app-shared-header-section>
	Часть 2. {{menuItemCollection.A_Part2}}
</app-shared-header-section>

<!--Интерполяция, динамические переменные-->
<section id="part2" class="py-5">
	<app-part2-interpolation></app-part2-interpolation>
</section>

<!--Компоненты-->
<section class="bg-opacity-25 bg-secondary py-5">
	<app-part2-default></app-part2-default>
</section>

<!--Компонент без html-->
<section class="py-5">
	<app-part2-only-ts></app-part2-only-ts>
</section>

<!--one way data binding-->
<section class="bg-opacity-25 bg-secondary py-5">
	<app-part2-one-way-binding></app-part2-one-way-binding>
</section>

<!--two way data binding-->
<section class="py-5">
	<app-part2-two-way-binding></app-part2-two-way-binding>
</section>

<!--Директивы-->

<section class="bg-opacity-25 bg-secondary py-5">
	<app-part2-directives></app-part2-directives>
</section>


<!--Пайпы-->
<section class="py-5">
	<app-part2-pipes></app-part2-pipes>
</section>
