<form
	(ngSubmit)="submit()"
	[formGroup]="form"
	class="container"
>
	<app-shared-card>
		<ng-template #header>
			Введите данные
		</ng-template>
		<ng-template
			#body
		>
			<h3 class="h5">
				Аккаунт
			</h3>

			<div class="border rounded-2 p-3 mb-4">
				<input
					[ngClass]="{
						'is-invalid': email.invalid && email.touched,
						'is-valid': email.valid
					}"
					aria-label="Почта"
					class="form-control"
					formControlName="email"
					id="email"
					placeholder="Почта"
					type="text"
				>

				<p *ngIf="email.invalid && email.touched" class="invalid-feedback">
					<ng-container *ngIf="email.errors?.['required']">
						Поле не может быть пустым
					</ng-container>
					<ng-container *ngIf="email.errors?.['email']">
						Введите корректный email
					</ng-container>
					<ng-container *ngIf="email.errors?.['restrictedEmail']">
						{{email.value}} не подходит
					</ng-container>
					<ng-container *ngIf="email.errors?.['uniqEmail']">
						{{email.value}} уже зарегистрирован
					</ng-container>
				</p>

				<p *ngIf="email.valid" class="valid-feedback">
					Все отлично!
				</p>

				<input
					[ngClass]="{
						'is-invalid': password.invalid && password.touched,
						'is-valid': password.valid
					}"
					aria-label="Пароль"
					class="form-control mt-3"
					formControlName="password"
					id="password"
					placeholder="Пароль"
					type="password"
				>
				<p *ngIf="password.invalid && password.touched" class="invalid-feedback mb-0">
					<ng-container *ngIf="password.errors?.['required']">
						Поле не может быть пустым
					</ng-container>
					<ng-container *ngIf="password.errors?.['minlength']">
						Пароль должен быть больше
						{{password.errors?.['minlength']?.['requiredLength']}} символов.
						<!--TODO: склонения для "символов"-->
						<span class="text-dark">
							Еще
							{{
							password.errors?.['minlength']?.['requiredLength']
							- password.errors?.['minlength']?.['actualLength']
							}}
							символов
						</span>
					</ng-container>
				</p>

				<p *ngIf="password.valid" class="valid-feedback mb-0">
					Все отлично!
				</p>
			</div>

			<h3 class="h5">
				Адрес
			</h3>

			<div class="border rounded-2 p-3 mb-4" formGroupName="address">
				<select aria-label="Страна" class="form-select" formControlName="country" id="country">
					<option value="ru">Россия</option>
					<option value="ua">Украина</option>
					<option value="by">Беларусь</option>
				</select>

				<div class="input-group mt-3">
					<input
						[ngClass]="{
							'is-invalid': address.invalid && address.touched,
							'is-valid': address.valid
						}"
						aria-label="Столица"
						class="form-control"
						formControlName="city"
						id="headCity"
						placeholder="Столица"
						type="text"
					>
					<!--TODO: добавить проверку на столицу-->

					<button (click)="setCapital()" class="btn btn-outline-secondary" type="button">
						Выбрать столицу
					</button>
				</div>

				<p *ngIf="address.invalid && address.touched" class="invalid-feedback d-block mb-0">
					Поле не может быть пустым
				</p>

				<p *ngIf="address.valid" class="valid-feedback d-block mb-0">
					Все отлично!
				</p>
			</div>

			<div class="d-flex align-items-center">
				<h3 class="h5 m-0">
					Ваши навыки
				</h3>
				<button (click)="addSkills()" class="btn btn-outline-secondary m-2 mt-0 mb-0" type="button">
					Добавить
				</button>
			</div>

			<div formGroupName="skills">
				<div
					#skillInput
					*ngFor="let control of getControls(); let idx = index"
					class="mt-3"
				>
					<div class="input-group">
						<input
							[formControlName]="idx"
							[id]="'skill_'+(idx + 1)"
							[ngClass]="{
								'is-invalid': skills?.invalid && skills?.touched,
								'is-valid': skills?.valid
							}"
							[placeholder]="'Навык '+(idx + 1)"
							class="form-control"
							type="text"
						>
						<button
							(click)="deleteInput()"
							aria-label="Close"
							class="btn btn-outline-secondary"
							type="button"
						>
							<!--TODO доделать deleteInput-->
							<i class="bi-trash"></i>
						</button>
					</div>
					<p *ngIf="skills?.invalid && skills?.touched" class="invalid-feedback">
						Поле не может быть пустым
					</p>
				</div>
			</div>

			<button [disabled]="form.invalid || form.untouched" class="btn btn-dark mt-4" type="submit">
				Отправить
			</button>
		</ng-template>
	</app-shared-card>
</form>
